<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\WebApplication1.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Data Source=SQL5105.site4now.net;Initial Catalog=db_ac812d_registrationdb;User Id=db_ac812d_registrationdb_admin;Password=Sahil@12345;Encrypt=True;TrustServerCertificate=True;" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
